body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    text-align: center;
}

.navbar {
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    text-align: left;
}

.nav-left,
.nav-center,
.nav-right {
    display: inline-block;
    vertical-align: middle;
    width: 33%;
}

.nav-center {
    text-align: center;
}

.nav-right {
    text-align: right;
}

.nav-center a {
    margin: 0 10px;
    text-decoration: none;
    color: #555;
}
button {
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: white;
}
.btn-login {
    background: #000;
    color: #fff;
}

.content-wrapper {
    text-align: center;
    padding-top: 50px;
}
 
.page-title {
    font-size: 32px;
    margin-bottom: 30px;
}


.section-subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}



.image-item {
    display: inline-block;
    width: 150px;
    margin: 0 10px;
    text-align: center;
    vertical-align: top;
}

.image-item img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}



.bottom-section {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: left;
    display: inline-block;
    width: 80%;
}

.discover-title {
    font-size: 18px;
    margin-left: 20px;
}



.info-card {
    display: inline-block;
    width: 45%;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    vertical-align: middle;
}




.mini-thumb {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 10px;
}
